* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    display: grid;
    place-items: center;
    background: #dde1e7;
    text-align: center;
}
.clock {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #ffffff,
        #6dd5fa,
        #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #ffffff,
        #6dd5fa,
        #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.clock:before {
    background: #ffefba; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #ffffff,
        #ffefba
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #ffffff,
        #ffefba
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: absolute;
    content: "";
    height: 420px;
    width: 420px;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.clock:after {
    position: absolute;
    content: "";
    height: 320px;
    width: 320px;
    background: #dde1e7;
    border-radius: 50%;
    box-shadow: -1px -1px 5px #ffffff73, 1px 1px 3px rgba(94, 104, 121, 0.288);
}
.clock .center-nut {
    height: 15px;
    width: 15px;
    background: #404040;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
}
.clock .center-nut2 {
    height: 9px;
    width: 9px;
    background: #3498db;
    border-radius: 50%;
    z-index: 15;
    position: absolute;
}
.indicators div {
    position: absolute;
    width: 2px;
    height: 5px;
    background: #000000;
}
.indicators div:nth-child(1) {
    transform: rotate(30deg) translateY(-200px);
}
.indicators div:nth-child(2) {
    transform: rotate(60deg) translateY(-200px);
}
.indicators div:nth-child(3) {
    background: #ff9079;
    transform: rotate(90deg) translateY(-200px);
}
.indicators div:nth-child(4) {
    transform: rotate(120deg) translateY(-200px);
}
.indicators div:nth-child(5) {
    transform: rotate(150deg) translateY(-200px);
}
.indicators div:nth-child(6) {
    background: #ff9079;
    transform: rotate(180deg) translateY(-200px);
}
.indicators div:nth-child(7) {
    transform: rotate(210deg) translateY(-200px);
}
.indicators div:nth-child(8) {
    transform: rotate(240deg) translateY(-200px);
}
.indicators div:nth-child(9) {
    background: #ff9079;
    transform: rotate(270deg) translateY(-200px);
}
.indicators div:nth-child(10) {
    transform: rotate(300deg) translateY(-200px);
}
.indicators div:nth-child(11) {
    transform: rotate(330deg) translateY(-200px);
}
.indicators div:nth-child(12) {
    background: #ff9079;
    transform: rotate(360deg) translateY(-200px);
}
.sec-hand,
.min-hand,
.hr-hand {
    position: absolute;
}
.sec-hand,
.sec {
    height: 350px;
    width: 180px;
    z-index: 6;
}
.min-hand,
.min {
    height: 330px;
    width: 140px;
    z-index: 5;
}
.hr-hand,
.hr {
    height: 300px;
    width: 110px;
    z-index: 4;
}
.sec,
.min,
.hr {
    display: flex;
    justify-content: center;
    position: absolute;
}
.sec:before {
    position: absolute;
    content: "";
    height: 210px;
    width: 3px;
    background: #3498db;
}
.sec:after {
    position: absolute;
    content: "";
    height: 35px;
    width: 7px;
    background: #3498db;
    top: 190px;
    border-radius: 5px;
}
.min:before {
    position: absolute;
    content: "";
    width: 1px;
    top: 0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 140px solid #e95949;
}
.min:after {
    position: absolute;
    content: "";
    width: 3px;

    top: 140px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 30px solid #e95949;
}
.hr:before {
    position: absolute;
    content: "";
    width: 1px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 120px solid #303030;
}
.hr:after {
    position: absolute;
    content: "";
    width: 3px;
    top: 120px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 25px solid #303030;
}
